
body {

    background-color: #000A47;

}

h1 {

    color: white;

    text-align:center;

    font-family: 'Bungee Outline', cursive;

}

footer {

    text-align:center;

    color: white;

    font-family: 'Roboto Mono', monospace;

}

marquee {

    color: white;

    font-family: 'Open Sans', sans-serif;

}
